.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
}

input {
    border: 2px solid  rgba(53, 186, 246, 0.5);
    width: 100%;
    box-sizing: border-box;
}

.user-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.user-container {
    width: fit-content;
    min-width: 200px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(53, 186, 246, 0.5);
    color: #FFFFFF;
    font: normal normal 500 20px/25px Roboto, sans-serif;
    line-height: 80px;
    cursor: pointer;
    margin: 10px;
}

.row {
    width: 100%;
    justify-content: center;
}

a {
    text-decoration: none;
    font: normal normal 500 20px/25px Roboto, sans-serif;
    color:  rgba(53, 186, 246, 0.5);
    cursor: pointer;
}

a:hover {
    color: #6b6b6b;
}