.form-element {
    margin-bottom: 85px;
    width: 80%;
}

.form-element label {
    font: normal normal 600 18px/20px Roboto;
    color: #787878;
    margin-bottom: 10px;
}

.btn-primary {
    margin-bottom: 25px;
    margin-top: 10px;
}

.form-element input {
    width: 70%;
}

