.panels-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    border-radius: 10px;
    max-width: 450px;
}

.data-panel {
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    min-height: 200px;
}

.form-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.form-element {
    align-items: flex-start !important;
    margin-bottom: 16px;
    width: 225px;
    margin-right: 1em;
}

.form-element input {
    min-width: 225px;
}

p {
    margin: 0;
    margin-bottom: 16px;
    font: normal normal 500 20px/25px Roboto, sans-serif;
}

label {
    font: normal normal 400 11px/12px Roboto, sans-serif;
}

.caff-panel .row {
    width: 90%;
    padding: 0 15px;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    bottom: 35px;
}

.btn-primary {
    padding: 15px !important;
    min-width: 150px;
}